<!DOCTYPE html>
<html>
  <head>
    <title>BisectRspec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p>this text is new</p>
    <p>this new feature will break user tests</p>
    <p>new feautre</p>
    <p>Even more text</p>
  </body>
</html>
